<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--加载requirejs-->
    <!-- build:js ../js/lib.js -->
        <script src="../js/vendor/require.min.js"></script>
    <!-- endbuild -->
    <% include template/requirejs.html%>
</head>
<body class="homepage Page">
<% include template/c-headnav.html %>

<% include template/c-footer.html %>
</body>
</html>