<!--c-footer 开始-->
<footer class="c-footer" style="background-image: url(../img/common/footer-back.png)">

    <div class="footer">

        <div class="footer-wrapper">

            <img class="footer-logo" src="../img/common/footer-logo.png" alt="">

            <ul class="footer-list">

                <li class="footer-list-item">
                    <a href="javascript:">
                        炭河里首页
                    </a>
                </li>

                <li class="footer-list-item">
                    <a href="javascript:">
                        景区介绍
                    </a>
                </li>

                <li class="footer-list-item">
                    <a href="javascript:">
                        博物展览
                    </a>
                </li>

                <li class="footer-list-item">
                    <a href="javascript:">
                        千古之情
                    </a>
                </li>

                <li class="footer-list-item">
                    <a href="javascript:">
                        游玩指南
                    </a>
                </li>

                <li class="footer-list-item">
                    <a href="javascript:">
                        最新资讯
                    </a>
                </li>

            </ul>

            <div class="footer-qrcode">
                <a href="../img/common/qrcord.jpg" class="js-img-viwer" data-caption="二维码" data-id="sai">
                     <img class="hvr-bounce-in" src="../img/common/qrcord.jpg" alt="">
                </a>
            </div>

            <div class="footer-note">

                <span class="footer-note-addr">
                     联系地址:湖南省长沙市宁乡县金州大道113号
                </span>

                <span class="footer-note-phone">
                     联系方式:0731-89897523
                </span>

                <span class="footer-note-href">
                    公司网址: <a href="javascript:">www.nx90.com</a>
                </span>

            </div>

        </div>

    </div>

    <i-backtop></i-backtop>
</footer>

<script>
    require(['vue','backtop','smartphoto'],function (Vue,backTop,smartPhoto) {
        var Footer = new Vue({
            el:".c-footer",
            components:{
                "i-backtop":backTop
            },
            mounted:function () {
                 new smartPhoto(".js-img-viwer");
            }
        })
    })
</script>
<!--c-footer 结束-->
