<!--c-headNav 开始-->
<div class="c-headNav" style="background-image: url(../img/common/topNav.jpg)">
    <div class="headNav">
        <ul class="headNav-list clearfix">
            <li class="headNav-item">
                <a href="javascript:" class="headNav-item-wrapper">
                <img src="../img/common/1.png" alt="">
                <div class="headNav-item-text">
                    <img class="bk" src="../img/common/itemback.png" alt="">

                    <div class="text-wrapper">
                            <span class="eg">
                                HOME
                            </span>
                        <span class="zh">
                                首页
                            </span>
                    </div>
                </div>
            </a>
            </li>

            <li class="headNav-item ML-130">
                <a href="javascript:" class="headNav-item-wrapper">
                    <img src="../img/common/2.png" alt="">
                    <div class="headNav-item-text">
                        <img class="bk" src="../img/common/itemback.png" alt="">

                        <div class="text-wrapper">
                            <span class="eg">
                                introduce
                            </span>
                            <span class="zh">
                                景区概括
                            </span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="headNav-item ML-130">
                <a href="javascript:" class="headNav-item-wrapper">
                    <img src="../img/common/3.png" alt="">
                    <div class="headNav-item-text">
                        <img class="bk" src="../img/common/itemback.png" alt="">

                        <div class="text-wrapper">
                            <span class="eg">
                                exhibition
                            </span>
                            <span class="zh">
                                 主要景点
                            </span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="headNav-item ML-390">
                <a href="javascript:" class="headNav-item-wrapper">
                    <img src="../img/common/4.png" alt="">
                    <div class="headNav-item-text">
                        <img class="bk" src="../img/common/itemback.png" alt="">

                        <div class="text-wrapper">
                            <span class="eg">
                                perform
                            </span>
                            <span class="zh">
                                 千古之情
                            </span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="headNav-item ML-130">
                <a href="javascript:" class="headNav-item-wrapper">
                    <img src="../img/common/5.png" alt="">
                    <div class="headNav-item-text">
                        <img class="bk" src="../img/common/itemback.png" alt="">

                        <div class="text-wrapper">
                            <span class="eg">
                                news
                            </span>
                            <span class="zh">
                                最新资讯
                            </span>
                        </div>
                    </div>
                </a>
            </li>

            <li class="headNav-item ML-130">
                <a href="javascript:" class="headNav-item-wrapper">
                    <img src="../img/common/6.png" alt="">
                    <div class="headNav-item-text">
                        <img class="bk" src="../img/common/itemback.png" alt="">

                        <div class="text-wrapper">
                            <span class="eg">
                                Contact us
                            </span>
                            <span class="zh">
                                联系我们
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

        <div class="headNav-mock blur">
            <div class="headNav-mock-bg " style="background-image: url(../img/common/topNav.jpg)">
        </div>
    </div>

</div>
<!--c-headNav 结束-->