<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <title>首页</title>
    <% include tpl/h5meta.html%>
    <!--<script src="../js/lib/webLib/public/core/polyfill.min.js"></script>-->
    <!-- build:js ../js/vendor.js-->
    <script src="../js/lib/webLib/public/plus/adpPage/adpPage.js"></script>
    <script src="../js/vendor/require.min.js"></script>
    <!-- endbuild -->
    <% include tpl/requirejs.html%>
</head>
<body class="homepage page">



<script>
    require([], function () {

    })
</script>

</body>
</html>
