<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="renderer" content="webkit">
		<title>简单模板</title>
		<link rel="stylesheet" type="text/css" href="./css/style-index.css?v=1.00" />
		<script src="./js/lib/webLib/requireconfig.js?v=1.00"></script>
		<script>
            requirejs({
                baseUrl: "js",
                urlArgs:"v=1.01",
            })
		</script>
		<!--[if lt IE 9]>
		<style>article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}</style>
		<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
		<![endif]-->
		
	</head>

	<body class="page dome-page">

		<script>
			require(['jquery', 'swiper'], function($, Swiper) {
				
			})
		</script>
	</body>

</html>